{% extends "layout.html" %}
{% block content %}
  <div class="container">
    <header class="row">
      <div class="col-md-12">
        <h1>Python Hamilton</h1>
      </div>
    </header>
    <section class="row">
      <div class="col-md-12">
        <h2>About us</h2>
        <p class="lead">Python Hamilton is a friendly group for local Python developers of all skill levels. We meet monthly for food, drinks, and informal talks. Come out and meet your fellow HamOnt Pythonistas!</p>
        <p class="lead">Right now we're using <a href="http://meetup.com/Python-Hamilton">meetup.com</a> to schedule our events, so be sure to sign up there. Also: check out our Github org for material from past talks (well, once we have them), and follow us on Twitter for more frequent updates.</p>
        <div class="text-center">
          <a class="social-link" href="http://github.com/PythonHamilton"><i class="fa fa-3x fa-github"></i></a>
          <a class="social-link" href="http://twitter.com/PythonHamilton"><i class="fa fa-3x fa-twitter"></i></a>
        </div>

      </div>
    </section>
    <section class="row">
      <div class="col-md-12">
        <article>
          <header>
            <h2>Code of conduct</h2>
          </header>
          <section>
            <p class="lead">All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all participants to help ensure a safe environment for everybody.</p>

            <h3>Need Help?</h3>

            <p class="lead">You have our contact details in the emails we've sent.</p>

            <h3>The Quick Version</h3>

            <p class="lead">Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organisers.</p>

            <h3>The Less Quick Version</h3>

            <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices; sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

            <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

            <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material.</p>

            <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference.</p>

            <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately.</p>

            <p>Conference staff will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

            <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>
          </section>
          <footer>
            <p><em>Slightly modified from <a href="http://confcodeofconduct.com">confcodeofconduct.com</a></em></p>
          </footer>
      </div>
    </section>
    <footer class="row">
    </footer>
  </div>
{% endblock %}
